<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs. -->
  <targets>

    <!-- TODO make logging async with AsyncWrapper -->
    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/logfile-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"/>

    <target xsi:type="Console" name="console"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile"/>

    <logger name="*" minlevel="Info" writeTo="console"/>
  </rules>
</nlog>